body {
  font-family: 'Work Sans', sans-serif;
}

.land {
  background: #0a2463; 
  background: -webkit-linear-gradient(top right,#0a2463,#046CE9);
  background: -o-linear-gradient(top right,#0a2463,#046CE9); 
  background: -moz-linear-gradient(top right,#0a2463,#046CE9); 
  background: linear-gradient(top right, #0a2463, #046CE9); 
  /*background-image: url("assets/ny-bw.jpg");*/
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20%;
  padding-bottom: 15%;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  color: white;
}

.quote {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #01baef;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: white;
  min-width: 100%;
}

.home-images {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.brands {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#brands {
  text-align: left;
  font-size: 42px;
}

.card {
  border-radius: 2px;
  width: 350px;
  height: 300px;
}

.horizontal-line {
  height: 20px;
  width: 200px;
  background: #0a2463; /* Old Browsers */
  background: -webkit-linear-gradient(top right,#0a2463,#046CE9); /*Safari 5.1-6*/
  background: -o-linear-gradient(top right,#0a2463,#046CE9); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top right,#0a2463,#046CE9); /*Fx 3.6-15*/
  background: linear-gradient(top right, #0a2463, #046CE9); /*Standard*/
}

.horizontal-line-white {
  background-color: white;
  height: 20px;
  width: 200px;
}

#footer {
  background-color: #046CE9;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-title {
  font-size: 36px;
  color: white;
  padding-right: 30px;
}

.footer-card {
  min-width: 300px;
}

.map {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.fab {
  padding: 5px;
}

.thanks {
  color: white;
  text-align: center;
}