html,
body {
  margin: 0%;
}

nav {
  margin-top: .4%;
  margin-left: 5%;
  margin-right: 5%;
}

/* ----- Typography Helpers ----- */

h1, 
h2, 
.muli {
  font-family: 'Muli', sans-serif;
}

h1, 
.company {
  font-weight: 800;
  font-size: 72px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

p {
  font-family: 'Martel', serif;
  font-size: 18px;
}

.sub-1 {
 font-size: 36px;
}

.sub-2 {
  font-size: 18px;
}

/* ----- Color Modifiers ----- */

.white {
  color: white;
}

.black {
  color: black;
}

.b--black {
  border: black 1px;
}

/* ----- Layout Modifiers ----- */

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

/* ----- Page Specific CSS ----- */

.darker {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.7819327560125613) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.7819327560125613) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.7819327560125613) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1); 
}

.hero {
  height: 40%;
  background-image: url(https://images.unsplash.com/photo-1546447208-9d7b923c0204);
  background-color: #cccccc;
  height: 500px;
  background-position: 50% 100%;
  /*background-attachment: fixed;*/
  background-repeat: no-repeat; 
  background-size: cover;
}

.hero-text {
  padding: 10%;
  color: whitesmoke;
}

.page-body {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.feature {
  padding-top: 3%;
  padding-bottom: 3%;
}

.feature-img {
  width: 100%;
}

footer {
  background-color: #eaeaea;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  padding-left: 5%;
}

a.pages {
  color: black;
}

.thanks {
  font-size: 16px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}