body, html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  padding-left: 4%;
  padding-right: 4%;
}

p, li, ol {
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .important {
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #054b91;
  height: 80%;

  @media screen and (max-width: 600px) {
    height: 100%; 
  }
}

.hero-image {
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

.lead {
  font-size: 22px;
  text-align: center;
}

/* Colors */

.primary {
  color: #054b91;
}

.secondary {
  color: #689ed8;
}

.highlighter {
  color: #da4167;
}

.off-white {
  color: #efefef;
}

.really-dark {
  color: #444444;
}

.white {
  color: white;
}



.back-primary {
  background-color: #054b91;
}

.back-secondary {
  background-color: #689ed8;
}

.back-highlighter {
  background-color: #da4167;
}

.back-off-white {
  background-color: #efefef;
}

.back-really-dark {
  background-color: #444444;
}



.border-primary {
  border-color: #054b91;
}

.border-secondary {
  border-color: #689ed8;
}

.border-highlighter {
  border-color: #da4167;
}

.border-off-white {
  border-color: #efefef;
}

.border-really-dark {
  border-color: #444444;
}

.hover-secondary:hover {
  color: #689ed8;
}



.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.di {
  display: inline;
}

.huge {
  font-size: 200%;
  font-weight: bold;
  padding: 10px;
}
