body, html {
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
}

.important {
  font-family: 'Cabin', sans-serif;
}

.header {
  background-color: #054b91;
  height: 80%;

  @media screen and (max-width: 600px) {
    height: 100%; 
  }
}

.hero-image {
  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

 /* Style the navbar */
 #navbar {
  overflow: hidden;
  width: 100%;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 2%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
} 


/* Colors */

.primary {
  color: #054b91;
}

.secondary {
  color: #689ed8;
}

.highlighter {
  color: #da4167;
}

.off-white {
  color: #efefef;
}

.really-dark {
  color: #444444;
}

.white {
  color: white;
}



.back-primary {
  background-color: #054b91;
}

.back-secondary {
  background-color: #689ed8;
}

.back-highlighter {
  background-color: #da4167;
}

.back-off-white {
  background-color: #efefef;
}

.back-really-dark {
  background-color: #444444;
}



.border-primary {
  border-color: #054b91;
}

.border-secondary {
  border-color: #689ed8;
}

.border-highlighter {
  border-color: #da4167;
}

.border-off-white {
  border-color: #efefef;
}

.border-really-dark {
  border-color: #444444;
}

.hover-secondary:hover {
  color: #689ed8;
}



.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.di {
  display: inline;
}

.huge {
  font-size: 700%;
}
