body, html {
  height: 100%;
  margin: 0;
  font-size: 14px;
  padding-left: 4%;
  padding-right: 4%;
}

/* Colors */

.primary {
  color: #F7A027;
}

.secondary {
  color: #081730;
}

.highlighter {
  color: #A9884B;
}

.off-white {
  color: #F5E6D3;
}

.really-dark {
  color: #364042;
}

.white {
  color: white;
}



.back-primary {
  background-color: #F7A027;
}

.back-secondary {
  background-color: #081730;
}

.back-highlighter {
  background-color: #A9884B;
}

.back-off-white {
  background-color: #F5E6D3;
}

.back-really-dark {
  background-color: #364042;
}



.border-primary {
  border-color: #F7A027;
}

.border-secondary {
  border-color: #081730;
}

.border-highlighter {
  border-color: #A9884B;
}

.border-off-white {
  border-color: #F5E6D3;
}

.border-really-dark {
  border-color: #364042;
}

.hover-secondary:hover {
  color: #689ed8;
}



/* Fonts and Text */

p, li, ol {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.di {
  display: inline;
}

.huge {
  font-size: 200%;
  font-weight: bold;
  padding: 10px;
}
