body {
  max-width: 100%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.my-header {
  font-family: 'Cabin', sans-serif;
  font-size: 4rem;
}

.my-header-black {
  font-family: 'Cabin', sans-serif;
  color: black;
}

.brands-text {
  padding-left: 2%;
}

.brand-set {
  padding-left: 2%;
  padding-right: 2%;
}

.brand-pic {
  border-radius: 5px;
}

.nothing-container {
  padding-top: 0px; 
  padding-bottom: 0px;
  padding-left: 0px; 
  padding-right: 0px;
  max-width: 100%;
}

.nothing-text { 
  padding-left: 7%; 
  padding-right: 7%; 
  padding-top: 20px; 
  padding-bottom: 10px; 
  text-align: center;
}

.new-pic {
  padding: 20px;
  border-radius: 1.5rem;
  width: 100%;
}

.line {
  width: 33.3%;
  background-color: darkblue;
  height: 3px;
  margin-left: 33.3%;
  margin-right: 0%
}

.duck {
  border-width: 2px;
  border-color: black;
}

.newsletter {
  padding-top: 0%;
}

/*Contact Form*/

.contact-form {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  min-width: 50%; 
}

.map {
  max-width: 100%;
  min-width: 100%;
  height: 50%;
}

.map-text {
  min-width: 75%;
}

.form-message {
  min-height: 40%;
}

/* Footer */

.footer-pad {
  padding-top: 5%;
  padding-bottom: 5%;
}