html,
body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

h1, 
h2,
h3,
.pd {
  font-family: 'Playfair Display', serif;
}

img {
  padding: 1%;
}

.os-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.p-5 {
  padding: 5%;
}