::selection {
  background-color: #bbbbbb;
}

@media only screen and (min-width: 1920px) {
  .section-2 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
  }
}

@media only screen and (max-width: 1040px) {
  .image-with-text {
    font-size: 50%;
  }
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

img {
  background-attachment: fixed;
}

code {
  border-radius: 5px;
  color: black;
}

h1, 
h2,
h3,
.pd {
  font-family: 'Playfair Display', serif;
}

.nav .nav-toggle span {
  background-color: #FFFFFF;
}

.page-body {
  padding: 5%;
}

.hero-text {
  padding: 5%;
}

.os-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.p-5 {
  padding: 5%;
}

.form-body {
  padding: 5%;
}

.logo {
  fill: #363636;
}

.white-nav {
  color: white;
  mix-blend-mode: difference; 
}

.image-with-text {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  text-align: left;
  bottom: 3%;
  left: 3%;
}
.bottom-right {
  position: absolute;
  text-align: right;
  bottom: 3%;
  right: 3%;
}

.white {
  color: white; 
}

.brand-img {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

.bg-nyc {
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, .5);
  background-position: 75% 100% 75% 75%;
  background-repeat: no-repeat; 
  background-size: cover;
}

.footer-body,
.newsletter {
  background-color: #2B3E50;
  color: white;
}

.brands-page {
  padding: 5%;
}