body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  z-index: 9;
  width: 100%;
  background: #fbfbff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background: #0b4f6c; /* Old Browsers */
background: -webkit-linear-gradient(top left,#0b4f6c,#01baef); /*Safari 5.1-6*/
background: -o-linear-gradient(top left,#0b4f6c,#01baef); /*Opera 11.1-12*/
background: -moz-linear-gradient(top left,#0b4f6c,#01baef); /*Fx 3.6-15*/
background: linear-gradient(top left, #0b4f6c, #01baef); /*Standard*/
  color: white;
}

.background {
  align-content: center;
  align-items: center;
}

h1 {
  color: #ffffff;
}