@font-face {
  font-family: SanFranciscoText-Heavy;
  font-weight: heavy;
  src: url("brands/assets/SanFranciscoText-Heavy.otf") format("opentype");
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.navbar-home {
  z-index: 100;
  position: fixed;
  top: 0; 
  width: 100%;
}

.nav-line {
  background-color: #0b4f6c;
  height: 20px;
}

.jumbotron {
  background: #0b4f6c; /* Old Browsers */
  background: -webkit-linear-gradient(top left,#0b4f6c,#01baef); /*Safari 5.1-6*/
  background: -o-linear-gradient(top left,#0b4f6c,#01baef); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top left,#0b4f6c,#01baef); /*Fx 3.6-15*/
  background: linear-gradient(top left, #0b4f6c, #01baef); /*Standard*/
  color: #ffffff;
  min-height: 500px;
  align-content: center;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.lead-in {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.btn {
  background: #01baef;
}

.btn a:hover {
  background: #0b4f6c;
}

.off-white {
  background: #fbfbff;
  padding-left: 0px;
  margin-left:0 auto;
  margin-right:0 auto;
}

.secondary {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0b4f6c;
}

.l-edge-pad{
  padding-left: 0px;
  padding-right: 10px;
}

.img-pad {
  padding-left: 10px;
  padding-right: 10px;
}

.r-edgepad {
padding-left: 10px;
padding-right: 10px;
}

.footer {
  background: #0b4f6c;
  color: #ffffff;
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.header {
  font-family: 'SanFranciscoText-Heavy', serif;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
}

.map {
  max-width: 100%;
  min-height: 100%;
}

.email-box {
  min-width: 100%;
}

.news-button {
  background-color: #01baef;
  border-radius: 3px;
}

.max-thanks {
  text-align: center;
  font-family: 'SanFranciscoText-Heavy', serif;
  color: #ffffff;
}

.max-thanks a {
  text-decoration: underline;
  color: #ffffff;
}

.max-thanks a:hover {
  color: #01baef;
  text-decoration: underline;

}
