@font-face {
  font-family: SanFranciscoText-Heavy;
  font-weight: heavy;
  src: url("assets/SanFranciscoText-Heavy.otf") format("opentype");
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  z-index: 9;
  width: 100%;
  background: #fbfbff;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-button a:hover {
  background: #ffffff;
  color: #000000;
  text-decoration: underline;
}

.jumbotron {
  background: #0b4f6c; /* Old Browsers */
  background: -webkit-linear-gradient(top left,#0b4f6c,#01baef); /*Safari 5.1-6*/
  background: -o-linear-gradient(top left,#0b4f6c,#01baef); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top left,#0b4f6c,#01baef); /*Fx 3.6-15*/
  background: linear-gradient(top left, #0b4f6c, #01baef); /*Standard*/
  color: #ffffff;
  min-height: 500px;
  align-content: center;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.lead-in {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.btn {
  background: #01baef;
}

.btn a:hover {
  background: #0b4f6c;
}

.off-white {
  background: #fbfbff;
  padding-left: 0px;
  margin-left:0 auto;
  margin-right:0 auto;
}

.section {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background: #0b4f6c;
  color: #ffffff;
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.header {
  font-family: 'SanFranciscoText-Heavy', serif;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
}

.map {
  max-width: 100%;
}

.thanks {
  text-align: center;
  font-family: 'SanFranciscoText-Heavy', serif;
  color: #ffffff;
}

.thanks a {
  color: #0b4f6c

}
